#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(97, 97, 97)  ;
  color: white;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #949494;
}
@media (max-width: 767px){
  #root {
    padding: 1rem;
    background-image: url('https://us-east.storage.cloudconvert.com/tasks/7bf03afd-cef6-4625-b825-5b149ff65227/dark-background.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=cloudconvert-production%2F20240701%2Fva%2Fs3%2Faws4_request&X-Amz-Date=20240701T183934Z&X-Amz-Expires=86400&X-Amz-Signature=149682d22de85fe80604af4f4ff38d74fcfc0f78ede45c8f334b44bc5fb78525&X-Amz-SignedHeaders=host&response-content-disposition=inline%3B%20filename%3D"dark-background.png"&response-content-type=image%2Fpng&x-id=GetObject'); /* Corrected path to your pattern image */
  }


}

