/* :root {
    --text-color: #000;
    --bg-color: #fff;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --text-color: #fff;
      --bg-color: #000;
    }
  }
  
  /* body {
    color: var(--text-color);
    background-color: var(--bg-color);
  } */ 
  .body {
    background-color: #000; /* Fallback color in case the image doesn't load */
    background-image: url(./assets/dark-background.png); /* Corrected path to your pattern image */
    background-attachment: fixed; /* Optional: keeps the background fixed during scroll */
  }


